/*custom styling for specific elements*/

:root{
    --zinc-800:  #27272A;
    --emerald-600: #059669;
    --emerald-400: #34D399;
    --zinc-300: #D4D4D8;
}



body{
    width: 100vw;
    height: 100vh;
}

.content-container{
    width: 100%;
    height: 100%;
}

header{
    height:70px;
}

.super-wrapper{
    padding-top: 70px;
    height: 100%;
}
.petpaltext{
    width: 50%;
    height: 75%;
    border: 2px solid blue;
    margin-top: auto;
}


.Petpalcontainer{
    width: 20%;
    /* border: 2px solid red; */
}

.navbar{
    list-style: none;
    /* border: 2px solid red; */
}
/*borders are for testing to see if alignment is proper*/
.login-button{
    width: 150px;
    height: 40px;
    /* border: 2px solid blue; */
    margin-top: auto;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: var(--emerald-400);
    font-weight: bold;
}

.landinglink{
    color: var(--emerald-600);
}
.landinglink:hover{
    color: var(--emerald-400);
}

.login-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}

.landing-page-header{
    background-color: var(--zinc-800);
    width: 100%;
    height: 70px;
}
/* .landing-page-info{
    border: 2px solid black
} */

.adopt-color{
    background: var(--emerald-600);
}
.image-container{
    /* border: 2px solid black; */
    overflow: visible;
}
.landing-image{
    max-width: 300px;
    max-height: 300px;
    /* border: 2px solid black; */
}

#email, #password, #name, #shelter_name, #adress{
    background-color: var(--zinc-300);
}
/* form{
    border: 2px solid black;
}

.login-wrapper{
    border: 2px solid black;
}

.login-header{
    border: 2px solid black;
}

.super-wrapper{
    border: 2px solid blue;
    height:100%;
} */


/* Pet Detail Page*/

.pet-detail-grid{
    display: grid;
    padding: 10%;
    padding-top: 10%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 600px;

    width: auto;
}

.pet-detail-frame {
    width: 480px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    justify-self: right;
    object-fit: cover;
}

.pet-detail-img {
    width: 100%;
    height: 100%;
}

.pet-detail-grid-inner{
    display: flex;
    flex-direction: column;
    justify-self: left;
    width: 480px;
    height: auto;
}
.pet-detail-heading-flex{
    display: flex;
    flex-direction: row;
}

.pet-detail-grid-icons{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20% 20%;
    column-gap: 10%;
    row-gap: 0.2rem;
    width: auto;
    height: auto;
}

.adopt-me-button{
    margin-left: auto;
    border-radius: 10px;
    border-style:none;
    width: 150px;
    height: 40px;
    align-self: center;
    background-color: #059669;
    color: #E4E4E7;
}

.status-box{
    color: #E4E4E7;
    background-color: #34D399;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
}
.pet-detail-icon-text{
    color:#A1A1AA;
    font-family: "Hayes Valley Studio";
    width: auto;
}

.pet-detail-header-text{
    color:black;
    font-family: "Hayes Valley Studio";
}

.pet-detail-text{
    color:black;
    font-family: "Hayes Valley Studio";

}

.profile-wrapper{
    border:2px solid black;
    padding-right: auto;
    padding-left: auto;
    height:40%;
}

.headshot-wrapper{
    border:2px solid black;
    height: 100px;
    border-radius: 50%;
    width: 100px;
}


.picture-and-contact{
    border:2px solid blue;
    padding-left:20px;
    padding-right:20px;
}
.bio{
    height:200px;
    margin-bottom: 20px;
}
.headshot{
    height:100px;
    width:100px;
    object-fit: cover;
}

.edit-button{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
}
.edit-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}


.application-wrapper{
    border: 2px solid black;
}

.application-table{
    overflow-y: scroll;
    height:200px;
}