/*custom styling for specific elements*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    /* Color styles */
    --emerald-700: rgba(4, 120, 87, 1);
    --emerald-600: rgba(5, 150, 105, 1);
    --emerald-500: rgba(16, 185, 129, 1);
    --emerald-400: rgba(52, 211, 153, 1);
    --emerald-300: rgba(110, 231, 183, 1);
    --emerald-200: rgba(167, 243, 208, 1);
    --zinc-800: rgba(39, 39, 42, 1);
    --zinc-700: rgba(63, 63, 70, 1);
    --zinc-500: rgba(113, 113, 122, 1);
    --zinc-400: rgba(161, 161, 170, 1);
    --zinc-300: rgba(212, 212, 216, 1);
    --zinc-200: rgba(228, 228, 231, 1);
    --zinc-100: rgba(244, 244, 245, 1);
    --zinc-50: rgba(250, 250, 250, 1);

    /* Effect styles */
    --shadow-1:  0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* TEXTS */
.text-zinc-800 {
    color: var(--zinc-800) !important;
}
.text-zinc-700 {
    color: var(--zinc-700) !important;
}
.text-zinc-500 {
    color: var(--zinc-500) !important;
}
.text-zinc-400 {
    color: var(--zinc-400) !important;
}
.text-zinc-300 {
    color: var(--zinc-300) !important;
}
.text-zinc-200 {
    color: var(--zinc-200) !important;
}
.text-zinc-100 {
    color: var(--zinc-100) !important;
}
.text-zinc-50 {
    color: var(--zinc-50) !important;
}
.text-emerald-700 {
    color: var(--emerald-700) !important;
}
.text-emerald-600 {
    color: var(--emerald-600) !important;
}
.text-emerald-500 {
    color: var(--emerald-500) !important;
}
.text-emerald-400 {
    color: var(--emerald-400) !important;
}
.text-emerald-300 {
    color: var(--emerald-300) !important;
}
.text-emerald-200 {
    color: var(--emerald-200) !important;
}
/* SHADOWS */
.shadow-1 {
    box-shadow: var(--shadow-1) !important;
}
/* BACKGROUNDS */
.bg-zinc-800 {
    background-color: var(--zinc-800) !important;
}
.bg-zinc-700 {
    background-color: var(--zinc-700) !important;
}
.bg-zinc-500 {
    background-color: var(--zinc-500) !important;
}
.bg-zinc-400 {
    background-color: var(--zinc-400) !important;
}
.bg-zinc-300 {
    background-color: var(--zinc-300) !important;
}
.bg-zinc-200 {
    background-color: var(--zinc-200) !important;
}
.bg-zinc-100 {
    background-color: var(--zinc-100) !important;
}
.bg-zinc-50 {
    background-color: var(--zinc-50) !important;
}
.bg-emerald-700 {
    background-color: var(--emerald-700) !important;
}
.bg-emerald-600 {
    background-color: var(--emerald-600) !important;
}
.bg-emerald-500 {
    background-color: var(--emerald-500) !important;
}
.bg-emerald-400 {
    background-color: var(--emerald-400) !important;
}
.bg-emerald-300 {
    background-color: var(--emerald-300) !important;
}
.bg-emerald-200 {
    background-color: var(--emerald-200) !important;
}

.fs-7 {
    font-size: 14px !important;
}

.fs-8 {
    font-size: 12px !important;
}

.fs-9 {
    font-size: 10px !important;
}


body{
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-container{
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

header{
    height:70px;
    z-index: 1000;
}

.super-wrapper{
    padding-top: 70px;
    height: 100%;
}

login-wrapper{
    width:75%;
}

@media screen and (max-width:340px){
    .login-wrapper {
        /* border: 2px solid black; */
        width: 100%;
    }
    /* .super-wrapper{
        width:100vw;
    } */
}
.petpaltext{
    width: 50%;
    height: 75%;
    border: 2px solid blue;
    margin-top: auto;
}


.Petpalcontainer{
    width: 20%;
    /* border: 2px solid red; */
}

.navbar{
    list-style: none;
    /* border: 2px solid red; */
}
/*borders are for testing to see if alignment is proper*/
.login-button {
    width: 150px;
    height: 40px;
    /* border: 2px solid blue; */
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
    border: none;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: var(--emerald-400);
    font-weight: bold;
}

.landinglink{
    color: var(--emerald-600);
}
.landinglink:hover{
    color: var(--emerald-400);
}

.login-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}

.landing-page-header{
    background-color: var(--zinc-800);
    width: 100%;
    height: 70px;
}
/* .landing-page-info{
    border: 2px solid black
} */

.adopt-color{
    background: var(--emerald-600);
}
.image-container{
    /* border: 2px solid black; */
    overflow: visible;
}
.landing-image{
    max-width: 300px;
    max-height: 300px;
    /* border: 2px solid black; */
}

#email, #password, #name, #shelter_name, #adress{
    background-color: var(--zinc-300);
}
/* form{
    border: 2px solid black;
}



.login-header{
    border: 2px solid black;
}

.super-wrapper{
    border: 2px solid blue;
    height:100%;
} */

/* .login-wrapper{
    border: 2px solid black;
} */


/* Pet Detail Page*/

.pet-detail-grid{
    display: grid;
    padding: 10%;
    padding-top: 10%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 600px;

    width: auto;
}

.pet-detail-frame {
    width: 480px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    justify-self: right;
    object-fit: cover;
}

.pet-detail-img {
    width: 100%;
    height: 100%;
}

.pet-detail-grid-inner{
    display: flex;
    flex-direction: column;
    justify-self: left;
    width: 480px;
    height: auto;
}
.pet-detail-heading-flex{
    display: flex;
    flex-direction: row;
}

.pet-detail-grid-icons{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20% 20%;
    column-gap: 10%;
    row-gap: 0.2rem;
    width: auto;
    height: auto;
}

.adopt-me-button{
    margin-left: auto;
    border-radius: 10px;
    border-style:none;
    width: 150px;
    height: 40px;
    align-self: center;
    background-color: #059669;
    color: #E4E4E7;
}

.status-box{
    color: #E4E4E7;
    background-color: #34D399;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
}
.pet-detail-icon-text{
    color:#A1A1AA;
    width: auto;
}

.pet-detail-header-text{
    color:black;
}

.pet-detail-text{
    color:black;
    font-family: "Hayes Valley Studio";

}

.extra-images {
    max-width: 150px;
}
.profile-wrapper{
    /* border:2px solid black; */
    padding-right: auto;
    padding-left: auto; 
    height:40%;
}

.headshot-wrapper{
    /* border:2px solid black; */
    height: 100px;
    border-radius: 50%;
    width: 100px;
}


.picture-and-contact{
    /* border:2px solid blue; */
    padding-left:20px;
    padding-right:20px;
}
.bio{
    height:200px;
    margin-bottom: 20px;
}
.headshot{
    height:100px;
    width:100px;
    object-fit: cover;
}

.edit-button{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 20px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
}
.edit-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}

.application-table{
    overflow-y: scroll;
    height:200px;
}


/* SEARCH PAGE */
.search-bar {
    background-color: #F4F4F5;
    border-radius: 100px;
    border: 1px solid var(--zinc-300, #D4D4D8);
    background: #F4F4F5;
    width: 300px;
    height: 40px;
    padding: 10px 15px;
    font-weight: normal;
    font-size: 12px;
}

.dropdown-toggle {
    font-weight: 500 !important;
    color: var(--zinc-500) !important;
    background-color: var(--zinc-50) !important;
    font-size: 14px !important;
    border: 1px solid var(--zinc-300) !important;
}

.dropdown-menu {
    background-color: var(--zinc-50) !important;
    color: var(--zinc-500) !important;
    font-size: 14px !important;
    border: 1px solid var(--zinc-300) !important;
    transform: translateY(10px);
}

.filtering-sidebar {
    max-width: 300px;
    flex: 1;
}

.filtering-sidebar .filtering-category-options > .filtering-option {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    color: var(--zinc-500);
    margin-bottom: 2px;
}

.listing-card-grid {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 20px;
}

.pet-card {
    width: 250px;
    height: 375px;
    border-radius: 5px;
    background-color: white;
    box-shadow: var(--shadow-1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
}

.pet-card > .pet-img {
    width: 250px;
    height: 175px;
    background-color: #D4D4D8;
    position: relative;
}

.pet-card > .pet-img > .pet-status {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    color: var(--zinc-700);
    padding: 2px 5px;
}

.pet-card > .pet-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
}

.pet-card > .pet-details > .pet-listed-date {
    color: var(--zinc-400);
    font-weight: 500;
    font-size: 10px;
    right: 10px;
    position: absolute;
}

.pet-card > .pet-details > .pet-name {
    font-size: 18px;
    color: var(--zinc-700);
    font-weight: 700;
}

.pet-card > .pet-details > .pet-info {
    color: var(--zinc-400);
    font-size: 10px;
    font-weight: 600;
}

.pet-card > .pet-details > .pet-description {
    color: var(--zinc-700);
    font-size: 12px;
    font-weight: 500;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

body .mobile-search-filtering-container {
    display: none !important;
}


.shelter-container {
    flex-direction: row;
    gap: 30px;
    padding: 0.5rem;
}

.shelter-container > .shelter-images-container, .shelter-container > .shelter-details-container {
    flex: 1;
    padding-top: 30px;
    max-width: 400px;
}

.shelter-container .shelter-cover-image {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: #D4D4D8;
}

.shelter-container .shelter-image-carousel {
    height: 130px;
    margin-top: 30px;
    width: 400px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.shelter-container .shelter-image-carousel .shelter-image {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    background-color: #D4D4D8;
    flex-shrink: 0;
}

.our-friends-container {
    max-width: 100%;
    max-width: fit-content;
    align-self: center;
}

.shelter-pets-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: fit-content;
    overflow-x: auto;
    padding: 20px 0;
    overflow-y: hidden;
    gap: 2rem;
}

@media screen and (max-width: 800px) {
    body .search-filtering-container {
        display: none !important;
    }

    body .mobile-search-filtering-container {
        display: block !important;
    }

    body .search-top-container, body .search-results-container {
        padding: 1rem !important;
    }
    
    body .filtering-sidebar {
        display: none !important;
    }

    .listing-card-grid {
        margin: 0;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px) {
    .pet-card {
        width: 300px;
        height: 100px;
        flex-direction: row;
        margin: 0; 
    }

    .pet-card > .pet-img {
        width: 100px;
        height: 100px;
    }

    .pet-card > .pet-img > .pet-status {
        right: 8px;
        bottom: 8px;
        font-size: 8px;
    }

    .pet-card > .pet-details {
        width: 200px;
    }
    
    .pet-card > .pet-details > .pet-name {
        font-size: 14px;
    }
    .pet-card > .pet-details > .pet-info {
        font-size: 10px;
        font-weight: 500;
    }
    
    .pet-card > .pet-details > .pet-description {
        display: none;
    }

    .listing-card-grid {
        gap: 0.5rem;
    }
}
