/*custom styling for specific elements*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    /* Color styles */
    --emerald-700: rgba(4, 120, 87, 1);
    --emerald-600: rgba(5, 150, 105, 1);
    --emerald-500: rgba(16, 185, 129, 1);
    --emerald-400: rgba(52, 211, 153, 1);
    --emerald-300: rgba(110, 231, 183, 1);
    --emerald-200: rgba(167, 243, 208, 1);
    --zinc-800: rgba(39, 39, 42, 1);
    --zinc-700: rgba(63, 63, 70, 1);
    --zinc-500: rgba(113, 113, 122, 1);
    --zinc-400: rgba(161, 161, 170, 1);
    --zinc-300: rgba(212, 212, 216, 1);
    --zinc-200: rgba(228, 228, 231, 1);
    --zinc-100: rgba(244, 244, 245, 1);
    --zinc-50: rgba(250, 250, 250, 1);

    /* Effect styles */
    --shadow-1:  0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* TEXTS */
.text-zinc-800 {
    color: var(--zinc-800) !important;
}
.text-zinc-700 {
    color: var(--zinc-700) !important;
}
.text-zinc-500 {
    color: var(--zinc-500) !important;
}
.text-zinc-400 {
    color: var(--zinc-400) !important;
}
.text-zinc-300 {
    color: var(--zinc-300) !important;
}
.text-zinc-200 {
    color: var(--zinc-200) !important;
}
.text-zinc-100 {
    color: var(--zinc-100) !important;
}
.text-zinc-50 {
    color: var(--zinc-50) !important;
}
.text-emerald-700 {
    color: var(--emerald-700) !important;
}
.text-emerald-600 {
    color: var(--emerald-600) !important;
}
.text-emerald-500 {
    color: var(--emerald-500) !important;
}
.text-emerald-400 {
    color: var(--emerald-400) !important;
}
.text-emerald-300 {
    color: var(--emerald-300) !important;
}
.text-emerald-200 {
    color: var(--emerald-200) !important;
}
/* SHADOWS */
.shadow-1 {
    box-shadow: var(--shadow-1) !important;
}
/* BACKGROUNDS */
.bg-zinc-800 {
    background-color: var(--zinc-800) !important;
}
.bg-zinc-700 {
    background-color: var(--zinc-700) !important;
}
.bg-zinc-500 {
    background-color: var(--zinc-500) !important;
}
.bg-zinc-400 {
    background-color: var(--zinc-400) !important;
}
.bg-zinc-300 {
    background-color: var(--zinc-300) !important;
}
.bg-zinc-200 {
    background-color: var(--zinc-200) !important;
}
.bg-zinc-100 {
    background-color: var(--zinc-100) !important;
}
.bg-zinc-50 {
    background-color: var(--zinc-50) !important;
}
.bg-emerald-700 {
    background-color: var(--emerald-700) !important;
}
.bg-emerald-600 {
    background-color: var(--emerald-600) !important;
}
.bg-emerald-500 {
    background-color: var(--emerald-500) !important;
}
.bg-emerald-400 {
    background-color: var(--emerald-400) !important;
}
.bg-emerald-300 {
    background-color: var(--emerald-300) !important;
}
.bg-emerald-200 {
    background-color: var(--emerald-200) !important;
}

.fs-7 {
    font-size: 14px !important;
}

.fs-8 {
    font-size: 12px !important;
}

.fs-9 {
    font-size: 10px !important;
}



body{
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-container{
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

header{
    height:70px;
    z-index: 1000;
}

.super-wrapper{
    padding-top: 70px;
    height: 100%;
}
.petpaltext{
    width: 50%;
    height: 75%;
    border: 2px solid blue;
    margin-top: auto;
}


.Petpalcontainer{
    width: 20%;
    /* border: 2px solid red; */
}

.navbar{
    list-style: none;
    /* border: 2px solid red; */
}
/*borders are for testing to see if alignment is proper*/
.login-button {
    width: 150px;
    height: 40px;
    /* border: 2px solid blue; */
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    color: white;
    font-size: 16px;
    align-items: center;
    background-color: var(--emerald-600);
    border-radius: 5px;
    border: none;
}


.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: var(--emerald-400);
    font-weight: bold;
}

.landinglink{
    color: var(--emerald-600);
}
.landinglink:hover{
    color: var(--emerald-400);
}

.login-button:hover{
    color: var(--emerald-400);
    background-color: var(--zinc-800);
    border-color: white;
}

.landing-page-header{
    background-color: var(--zinc-800);
    width: 100%;
    height: 70px;
}
/* .landing-page-info{
    border: 2px solid black
} */

.adopt-color{
    background: var(--emerald-600);
}
.image-container{
    /* border: 2px solid black; */
    overflow: visible;
}
.landing-image{
    max-width: 300px;
    max-height: 300px;
    /* border: 2px solid black; */
}

#email, #password, #name, #shelter_name, #adress{
    background-color: var(--zinc-300);
}
/* form{
    border: 2px solid black;
}

.login-wrapper{
    border: 2px solid black;
}

.login-header{
    border: 2px solid black;
}

.super-wrapper{
    border: 2px solid blue;
    height:100%;
} */


/* Pet Detail Page*/

.pet-detail-grid{
    display: grid;
    padding: 10%;
    padding-top: 10%;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 600px;

    width: auto;
}

.pet-detail-frame {
    width: 480px;
    height: 400px;
    overflow: hidden;
    margin: auto;
    justify-self: right;
    object-fit: cover;
}

.pet-detail-img {
    width: 100%;
    height: 100%;
}

.pet-detail-grid-inner{
    display: flex;
    flex-direction: column;
    justify-self: left;
    width: 480px;
    height: auto;
}
.pet-detail-heading-flex{
    display: flex;
    flex-direction: row;
}

.pet-detail-grid-icons{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20% 20%;
    column-gap: 10%;
    row-gap: 0.2rem;
    width: auto;
    height: auto;
}

.adopt-me-button{
    margin-left: auto;
    border-radius: 10px;
    border-style:none;
    width: 150px;
    height: 40px;
    align-self: center;
    background-color: #059669;
    color: #E4E4E7;
}

.status-box{
    color: #E4E4E7;
    background-color: #34D399;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    align-self: center;
    margin-left: 10px;
}
.pet-detail-icon-text{
    color:#A1A1AA;
    width: auto;
}

.pet-detail-header-text{
    color:black;
}

.pet-detail-text{
    color:black;
    font-family: "Hayes Valley Studio";

}